<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:include="partials/partials :: head" />
</head>
<body>
<nav th:replace="partials/partials :: navbar" />
    <h2>Here is post <span th:text="${id}"></span>!</h2>
    <h1><span th:text="${post.title}"></span></h1>
    <p><span th:text="${post.body}"></span></p>
    <p>Posted By:<span th:text="${post.getUser().getEmail()}"></span></p>
    <form method="GET">
        <button type="submit" th:formaction="|/posts/${post.getId()}/edit|" class="btn btn-warning btn-lg m-2">Edit Post</button>
    </form>
    <form method="POST">
        <button type="submit" formaction="/posts/delete" name="id" class="btn btn-danger btn-lg m-2"  th:value="${post.getId()}">Delete Post</button>
    </form>
        <footer th:replace="partials/partials :: footer" />
</body>
</html>