<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <head th:include="partials/partials :: head" />
</head>
<body>
<nav th:replace="partials/partials :: navbar" />
    <h2>Here is post <span th:text="${id}"></span>!</h2>
    <h1><span th:text="${post.title}"></span></h1>
    <p><span th:text="${post.body}"></span></p>
    <p>Posted By:<span th:text="${post.getUser().getEmail()}"></span></p>

<footer th:replace="partials/partials :: footer" />
</body>
</html>