<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <head th:include="partials/partials :: head" />
</head>
<body>
<nav th:replace="partials/partials :: navbar" />
<h1>Hello <span th:text="${#authentication.principal.username}"/>!</h1>
<h4>Email: <span th:text="${#authentication.principal.email}"/></h4>
<hr>
<h2>Here are Your Posts!</h2>

<div th:each="post : ${userPosts}">
    <h3 th:text="${post.title}" />
    <form method="GET">
        <button type="submit" th:formaction="|/posts/${post.getId()}|" class="btn btn-secondary btn-lg m-2">View Post</button>
    </form>
    <form method="GET">
        <button type="submit" th:formaction="|/posts/${post.getId()}/edit|" class="btn btn-warning btn-lg m-2">Edit Post</button>
    </form>
    <form method="DELETE">
        <button type="submit" th:formaction="|/posts/${post.getId()}/delete|" name="id" class="btn btn-danger btn-lg m-2"  th:value="${post.getId()}">Delete Post</button>
    </form>
</div>

<th:footer th:replace="partials/partials :: footer" />
</body>
</html>