<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|Error - ${error}|"></title>
    <head th:include="partials/partials :: head" />
</head>

<body>
    <div class="mt-5 text-center" >
            <th:block th:switch="${error}">
                    <div th:case="'Not Found'">
                        <h1 class="error-header text-center">Error 404 - Not Found</h1>
                    </div>
                    <div th:case="'Forbidden'">
                        <h1 class="error-header text-center">Error 403 - Forbidden</h1>
                    </div>
                    <div th:case="'Method Not Allowed'">
                        <h1 class="error-header text-center">Error 405 - Method Not Allowed</h1>
                    </div>
                    <div th:case="'Bad Request'">
                        <h1 class="error-header text-center">Error 400 - Bad Request</h1>
                    </div>
            </th:block>
        <h4 class="text-center"><a th:href="@{/}">Back to Home</a></h4>
    </div>
</body>
</html>