<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Roll Dice</title>
</head>
<body>
<h1>Let's Roll Dice!</h1>
<h3>Choose a number 1-6!</h3>
<form>
    <button type="submit" formaction="/roll-dice/1" formmethod="get">1</button>
    <button type="submit" formaction="/roll-dice/2" formmethod="get">2</button>
    <button type="submit" formaction="/roll-dice/3" formmethod="get">3</button>
    <button type="submit" formaction="/roll-dice/4" formmethod="get">4</button>
    <button type="submit" formaction="/roll-dice/5" formmethod="get">5</button>
    <button type="submit" formaction="/roll-dice/6" formmethod="get">6</button>
</form>
</body>
</html>